---
import LayoutBase from "@layouts/LayoutBase.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import * as ldjson from "@utils/ldjson";
import PostMeta from "@components/PostMeta.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    return {
      params: {
        post: post.slug,
      },
      props: post,
    };
  });
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
---

<LayoutBase>
  <main class="">
    <div class="relative w-full h-96 overflow-hidden">
      <Image
        src={post.data.heroImage}
        alt={post.data.heroImageAlt}
        class="w-full h-full object-cover"
        transition:name={`heroImage ${post.id}`}
      />
    </div>
    <article class="relative wrapper z-10 -mt-28 animate-slideUp overflow-scroll">
      <div class="mx-auto card max-w-screen-lg">
        <div class="mb-8 md:px-8">
          <h1
            class="text-center font-bold my-4 text-3xl md:text-4xl xl:text-5xl"
          >
            {post.data.title}
          </h1>
          <PostMeta post={post} />
        </div>
        <div class="md-content md:px-8">
          <Content />
        </div>
      </div>
    </article>
  </main>
</LayoutBase>

<script
  type="application/ld+json"
  set:html={JSON.stringify(ldjson.CreateBlog(post))}
/>

<style is:global>
  .md-content p {
    @apply my-4;
  }
  .md-content h2,
  .md-content h3,
  .md-content h4,
  .md-content h5,
  .md-content h6 {
    @apply mb-4 mt-6 font-bold;
  }

  .md-content h2 {
    @apply text-3xl;
  }
  .md-content h3 {
    @apply text-2xl;
  }
  .md-content h4 {
    @apply text-xl;
  }

  .md-content blockquote {
    @apply my-4 border-l-4 border-gray-400 pl-4 italic;
  }

  .md-content ul {
    @apply list-disc list-inside;
  }

  .md-content ol {
    @apply list-decimal list-inside;
  }

  .md-content a {
    @apply text-blue-300 underline;
  }

  .md-content img {
    @apply rounded-lg mx-auto;
  }

  .md-content pre > code {
    @apply px-4;
  }

  .md-content pre:has(code) {
    @apply rounded-lg border border-smoke-800 py-2;
  }
</style>
