---
import LayoutBase from "@layouts/LayoutBase.astro";
import SocialsHeadless from "@components/Social/SocialsHeadless.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const blogPosts = await getCollection("blog");
---

<LayoutBase>
  <header class="flex flex-col space-y-4 p-12 justify-center text-center mt-6">
    <h1 class="text-4xl md:text-8xl font-semibold text-white">TechSquidTV</h1>
    <p class="text-2xl md:text-4xl">Open-Source developer and tech educator</p>
    <SocialsHeadless
      classNames={{
        ul: "flex flex-row space-x-3",
        li: "p-1",
        container: "flex flex-row justify-center p-1",
      }}
    />
  </header>
  <main class="wrapper">
    <ul class="flex flex-col space-y-3">
      {
        blogPosts.map((post) => {
          return (
            <li class="card">
              <a href={new URL(`/blog/${post.slug}`, Astro.site).href}>
                <article class="flex flex-col md:flex-row md:max-h-72">
                  <div class="h-56 md:w-80 md:h-auto mb-2 md:mb-0">
                    <Image
                      src={post.data.heroImage}
                      alt={post.data.heroImageAlt || post.data.title}
                      class="rounded-lg object-cover object-center w-full h-full shadow-md"
                      transition:name={`heroImage ${post.id}`}
                    />
                  </div>
                  <div class="flex md:flex-1 flex-col py-2 mx-8">
                    <h2 class="text-3xl font-bold text-smoke-50 mb-2">
                      {post.data.title}
                    </h2>
                    <p>{post.data.description}</p>
                  </div>
                </article>
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</LayoutBase>
