---
import LayoutBase from "@layouts/LayoutBase.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import ServiceCard from "../../../components/ServiceCard.astro";
import Blob1 from "./img/blob1.svg?raw";
import astroThumbnail from "./img/blog-post-thumbnails-3d.png";
import githubProfile from "./img/github-profile.png";

const serviceList = [
  {
    title: "Screencasts",
    anchor: "screencasts",
    icon: "fluent:screenshot-record-28-filled",
    description: "High quality demos and tutorial videos.",
  },
  {
    title: "Animation",
    anchor: "animations",
    icon: "fluent:layer-diagonal-sparkle-20-filled",
    description: "Engaging animations.",
  },
  {
    title: "Writing",
    anchor: "writing",
    icon: "fluent:slide-text-edit-28-filled",
    description: "Blog articles and documentation.",
  },
  {
    title: "Code",
    anchor: "code",
    icon: "fluent:code-block-28-filled",
    description: "From web apps to CI/CD pipelines.",
  },
];

const PriceList = {
  screencasts: [
    {
      title: "1 Minute Short",
      description:
        "A vertically produced screencast to quickly demonstrate a feature or concept. Perfect for YouTube Shorts and TikTok.",
      price: 500,
    },
    {
      title: "5 Minute Screencast",
      description:
        "A curated screencast to expertly demonstrate a feature or concept succinctly and effectively. An excellent boost to blogs and documentation.",
      price: 2500,
    },
    {
      title: "10 Minute Screencast",
      description:
        "Enguage and educate your audience with long form deep dives into your product or features. Evergreen content for your training library.",
      price: 3000,
    },
  ],
  animation: [
    {
      title: "1 Minute Short",
      description:
        "Big concepts in short, digestable animations. Perfect for YouTube Shorts and TikTok.",
      price: 1500,
    },
    {
      title: "5 Minute Animation",
      description:
        "A curated animation to expertly demonstrate a feature or concept succinctly and effectively. An excellent boost to blogs and documentation.",
      price: 4000,
    },
    {
      title: "10 Minute Animation",
      description:
        "Enguage and educate your audience with long form deep dives into your product or features. Evergreen content for your training library.",
      price: 7500,
    },
  ],
  writing: [
    {
      title: "Blog Post",
      description:
        "SEO optoimized articles for developers that approach education through captivating story telling.",
      price: 350,
    },
    {
      title: "Documentation",
      description:
        "Whether you need documentation or a whole new docs solution, I can help you find the right fit.",
    },
  ],
  code: [
    {
      title: "Custom Applications",
      description:
        "From React Web Apps to scalable APIs, I can help you build the right solution for your product.",
    },
    {
      title: "CI/CD Pipelines",
      description:
        "Automate your development workflow with CI/CD pipelines that deploy your code to production with confidence. Available for consulting, custom GitHub Actions, and all of your CI/CD needs.",
    },
    {
      title: "Client SDKs",
      description: "Connect with developers and expand your product through user-generated content fascilitated by robust client SDKs. Support for multiple languages and platforms." 
    }
  ]
};
---

<LayoutBase>
  <main class="relative wrapper flex mt-24 overflow-clip">
    <div class="absolute top-0 right-0 w-full h-full">
      <Fragment set:html={Blob1} />
    </div>
    <div class="z-10">
      <header class="w-full flex flex-col">
        <div class="lg:w-1/2">
          <h1
            class="text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-smoke-100 font-bold"
          >
            <span class="block">DevRel with</span>
            <span class="block">TechSquidTV</span>
          </h1>
          <p class="opacity-85">
            <span class="text-white"
              >Kyle Tryon</span> is a <span class="text-blue-400"
              >Staff Software Engineer</span
            >, <span class="text-green-400">Open-Source Advocate</span>, <span
              class="text-gray-400">Educator</span
            >, <span class="text-purple-400">Animator</span>, <span
              class="text-yellow-400">3D Artist</span
            >, <span class="text-red-400">YouTuber</span>, and <span
              class="text-indigo-400">Content Creator</span
            >.
          </p>
        </div>
      </header>
      <nav class="relative group my-6">
        <ul class="bg-opacity-5 bg-smoke-800 backdrop-blur lg:rounded-full">
          <div class="flex flex-col lg:flex-row">
            {
              serviceList.map((item) => {
                return (
                  <li class="flex-1 text-center p-1">
                    <a
                      class="flex flex-row w-full h-full lg:rounded-full hover:bg-white hover:bg-opacity-[0.01] hover:backdrop-blur-xl transition-all duration-300 px-2 hover:shadow-sm"
                      href={`#${item.anchor}`}
                    >
                      <div class="flex flex-col justify-center items-center px-2">
                        <Icon name={item.icon} size={64} />
                      </div>
                      <div class="flex flex-1 flex-col px-2">
                        <span class="text-xl font-semibold">{item.title}</span>
                        <span class="flex flex-1 flex-col justify-center items-center">
                          <p class="text-sm my-1">{item.description}</p>
                        </span>
                      </div>
                    </a>
                  </li>
                );
              })
            }
          </div>
        </ul>
      </nav>
      <section>
        <p class="text-center text-lg p-8">
          <span class="font-semibold italic">DevRel As A Service</span> with TechSquidTV is a full-service solution for your developer outreach and content creation. Build your evergreen multi-platform content library while educating your audience and boosting SEO.<br />Contact for bundle packages.
        </p>
      </section>
      <div class="flex flex-col space-y-12 my-2">
        <section class="fade-on-scroll">
          <div
            class="flex flex-col md:flex-row space-y-4 md:space-y-0 bg-smoke-1000 bg-opacity-45 backdrop-blur rounded-md p-4"
          >
            <div class="md:w-1/2">
              <div class="px-2 mr-4">
                <h2 id="screencasts" class="text-4xl font-bold">Screencasts</h2>
                <p class="text-lg">
                  Engage with and educate your audience while boosting SEO for
                  blog posts and growing your evergreen video content library.
                </p>
                <a
                  href="/contact"
                  class="p-2 rounded-sm bg-indigo-900 text-smoke-100">Contact</a
                >
              </div>
            </div>
            <div
              class="relative aspect-w-16 aspect-h-9 md:w-1/2 md:min-h-56 max-w-full overflow-hidden"
            >
              <iframe
                class="w-full h-full rounded-md"
                src="https://www.youtube.com/embed/xsf3ZpHlB6A?si=Ck8dAwdYYYJik_fn&controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </div>
          <section
            class="flex flex-col space-y-4 md:space-y-0 md:flex-row justify-center my-4 md:space-x-4"
          >
            {
              PriceList.screencasts.map((item) => {
                return (
                  <ServiceCard
                    title={item.title}
                    description={item.description}
                    price={item.price}
                  />
                );
              })
            }
          </section>
        </section>
        <section class="fade-on-scroll">
          <div
            class="flex flex-col md:flex-row-reverse space-y-4 md:space-y-0 bg-smoke-1000 bg-opacity-45 backdrop-blur rounded-md p-4"
          >
            <div class="md:w-1/2">
              <div class="px-2 mr-4 md:text-right">
                <h2 id="animations" class="text-4xl font-bold">Animations✨</h2>
                <p class="text-lg">
                  Engage with and educate your audience while boosting SEO for
                  blog posts and growing your evergreen video content library.
                </p>
                <a
                  href="/contact"
                  class="p-2 rounded-sm bg-indigo-900 text-smoke-100">Contact</a
                >
              </div>
            </div>
            <div
              class="relative aspect-w-16 aspect-h-9 md:w-1/2 md:min-h-56 max-w-full overflow-hidden"
            >
              <iframe
                class="w-full h-full rounded-md"
                src="https://www.youtube.com/embed/RaM1DFqQOm4?si=IRxfQs_7lyKxvsLw&start=290"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </div>
          <section
            class="flex flex-col space-y-4 md:space-y-0 md:flex-row justify-center my-4 md:space-x-4"
          >
            {
              PriceList.animation.map((item) => {
                return (
                  <ServiceCard
                    title={item.title}
                    description={item.description}
                    price={item.price}
                  />
                );
              })
            }
          </section>
        </section>
        <section class="fade-on-scroll">
          <div
            class="flex flex-col md:flex-row space-y-4 md:space-y-0 bg-smoke-1000 bg-opacity-45 backdrop-blur rounded-md p-4"
          >
            <div class="md:w-1/2">
              <div class="px-2 mr-4">
                <h2 id="writing" class="text-4xl font-bold">Writing</h2>
                <p class="text-lg">
                  Detailed documentation, guides, and blog articles, written by
                  an experienced staff software engineer and educator.
                </p>
                <p>
                  Need a new docs solution? Let's find the right fit to adding
                  and maintaining documentation for your product.
                </p>
                <a
                  href="/contact"
                  class="p-2 rounded-sm bg-indigo-900 text-smoke-100">Contact</a
                >
              </div>
            </div>
            <div
              class="relative aspect-w-16 aspect-h-9 md:w-1/2 md:min-h-56 max-w-full overflow-hidden"
            >
              <a
                href="https://techsquidtv.com/blog/"
                class="flex flex-row justify-center items-center w-full h-full"
                ><Image
                  src={astroThumbnail}
                  alt="Preview of blog post thumbnails."
                  class="max-h-72 w-auto"
                /></a
              >
            </div>
          </div>
          <section
            class="flex flex-col space-y-4 md:space-y-0 md:flex-row justify-center my-4 md:space-x-4"
          >
            {
              PriceList.writing.map((item) => {
                return (
                  <ServiceCard
                    title={item.title}
                    description={item.description}
                    price={item.price}
                  />
                );
              })
            }
          </section>
        </section>
        <section class="fade-on-scroll">
          <div
            class="flex flex-col md:flex-row-reverse space-y-4 md:space-y-0 bg-smoke-1000 bg-opacity-45 backdrop-blur rounded-md p-4"
          >
            <div class="md:w-1/2">
              <div class="px-2 mr-4 md:text-right">
                <h2 id="code" class="text-4xl font-bold">CODE</h2>
                <p class="text-lg">
                  5+ years of experience <a href="https://github.com/search?q=org%3ACircleCI-Public+author%3AKyleTryon&type=pullrequests" >building integrations</a> for CI/CD pipelines.<br>
                  Author of TypeScript SDK with over <a href="https://www.npmjs.com/package/@circleci/circleci-config-sdk">33K downloads per week</a>.<br />
                  Designer and developer of sites like this one, or <a href="https://config.tips/">this one</a>.
                </p>
                <p class="text-lg">
                  Main languages: Node / TypeScript, React, Go, BASH
                </p>
                <a
                  href="/contact"
                  class="p-2 rounded-sm bg-indigo-900 text-smoke-100">Contact</a
                >
              </div>
            </div>
            <div
              class="relative aspect-w-16 aspect-h-9 md:w-1/2 md:min-h-56 max-w-full overflow-hidden"
            >
              <a
                href="https://github.com/KyleTryon"
                class="flex flex-row justify-center items-center w-full h-full"
                ><Image
                  src={githubProfile}
                  alt="GitHub Profile"
                  class="max-h-72 w-auto"
                /></a
              >
            </div>
          </div>
          <section
            class="flex flex-col space-y-4 md:space-y-0 md:flex-row justify-center my-4 md:space-x-4"
          >
            {
              PriceList.code.map((item) => {
                return (
                  <ServiceCard
                    title={item.title}
                    description={item.description}
                  />
                );
              })
            }
          </section>
        </section>
      </div>
    </div>
  </main>
</LayoutBase>

<script src="@scripts/fadeOnScroll.ts"></script>